@import
url('https://fonts.googleapis.com/css?family=Bad+Script');
body, html{
    font-family: 'Bad Script';
    margin-top: 80px;
    width: auto;
    text-align: center;
    font-size: 40px;
    background-color: #fff;
    color: #000;
}